// JourneyMap server configuration file. Hardcore competitive settings.
{
  "journeymapEnabled": "true",
  "useWorldId": "true",
  "viewOnlyServerProperties": "true",
  "allowMultiplayerSettings": "NONE",
  "worldPlayerRadar": "NONE",
  "worldPlayerRadarUpdateTime": "5",
  "seeUndergroundPlayers": "NONE",
  "hideOps": "true",
  "hideSpectators": "false",
  "allowDeathPoints": "false",
  "showInGameBeacons": "true",
  "allowWaypoints": "true",
  "allowRightClickTeleport": "false",
  "radarLateralDistance": "32",
  "radarVerticalDistance": "16",
  "maxAnimalsData": "128",
  "maxAmbientCreaturesData": "128",
  "maxMobsData": "128",
  "maxPlayersData": "128",
  "maxVillagersData": "128",
  "minimapEnabled": "true",
  "hideCoordinates": "true",
  "teleportEnabled": "false",
  "crossDimTeleport": "false",
  "surfaceRenderRange": "0",
  "caveRenderRange": "0",
  "surfaceMapping": "NONE",
  "topoMapping": "NONE",
  "biomeMapping": "NONE",
  "caveMapping": "NONE",
  "radarEnabled": "ALL",
  "playerRadarEnabled": "true",
  "playerRadarNamesEnabled": "true",
  "villagerRadarEnabled": "false",
  "animalRadarEnabled": "false",
  "mobRadarEnabled": "false",
  "configVersion": "6.0.0-beta.52"
}